	</div></div></div>
	<div id="footer">
		<div id="mainwrapper" style="text-align: center;">
		    <div style="line-height: 20px;"><b>LEFT 4 DEAD CLUB</b></span>
			<div id="footqversion" style="line-height: 20px;"><small>SourceBans++ {$SB_VERSION}{$SB_REV}</small></div>
		</div>
	</div>
	{*/body*}
{*/html*}
